<style type="text/css" rel="stylesheet">
</style>

<div class="footer-div">
    <span class="footer-sign">我看着那么多人
                            跟一个又一个不同的人说永远
                             我不知道他们笑着哭着说永远的时候
                                    想着的是谁的眉眼</span>
    <span><i class="fa fa-refresh footer-refresh"></i></span>
    <br><button class="theme-gray">灰色主题</button><br>
    <br>
    <br>
    <div class="copyright">
        <span class="font-copyright">Copyright</span>
        <i class="fa fa-copyright i-copyright"></i>
        <a class="a-copyright" href="#">小王子呀</a>
        <span class="font-point">·</span>
        <span class="font-theme">Theme</span>
        <a class="a-theme" href="#">Diamond</a>
    </div>
</div>