{% load staticfiles %}
{% block css %}
    <style type="text/css" rel="stylesheet">
    @keyframes logo {
        from{transform: rotate(0deg); width: 160px; height: 160px;}
        to{transform: rotate(360deg); width: 60px; height: 60px;}
    }
    @keyframes logo-div {
        from{left: 50%; top:0;}
        to{left: 20%; top: 10px;}
    }
    .head-div{
        width: 100%;
        height:80px;
        position: fixed;
        top: 0;
        background-color: #f3f7fa;
        opacity: 0.8;
        box-shadow: 0 0 5px #333;
        z-index: 999;
    }

    .head-logo{
        width: 160px;
        height:160px;
        position: relative;
        left: 50%;
        margin-left: -80px;
    }
    .head-logo-animation{
        animation: logo-div 1s;
        animation-fill-mode: forwards;
    }
    .head-logo-img{
        height:160px;
        width: 160px;
        border-radius: 50%;
        border: solid 4px #f93;
        border-right-color: blue;
        border-bottom-color: blue;
        box-sizing: border-box;
    }
    .head-logo-img-animation{
        animation: logo 1s;
        animation-fill-mode: forwards;
    }
    .head-nav{
        position: absolute;
        top:0;
        right: 10%;
        text-align: center;
        line-height: 80px;
        display: none;
    }
    .head-nav ul{
        list-style-type: none;
    }
    .head-nav ul li{
        width: 100px;
        float: right;
    }
    .head-canvas-div{
        position: absolute;
        top:0;
        width: 100%;
        height:80px;
        overflow: hidden;
    }
    #head-canvas{
        position: absolute;
        top: 0;
        z-index: -1;
        opacity: 0.5;
    }
    </style>
{% endblock %}
<div class="head-div">
    <div class="head-logo">
        <img class="head-logo-img" src="{% static 'img/logo.jpg' %}">
    </div>
    <div class="head-nav">
        <ul>
            <li>其他</li>
            <li>功能</li>
            <li>文章</li>
            <li>主页</li>
        </ul>
    </div>
    <div class="head-canvas-div">
      <canvas id="head-canvas" width="1368px" height="80px"></canvas>
    </div>
</div>
{% block script %}
    <script>
		var canvas = document.getElementById("head-canvas")
		var ctx = canvas.getContext("2d")

		window.requestAnimFrame = (function(){
        return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || function(callback){
                    window.setTimeout(callback, 1000 / 60);
                };
 	    })();

		var waves = ["rgba(157, 187, 210, 0.4)",
        "rgba(171, 216, 201, 0.4)",
        "rgba(157,192,249, 0.4)",
        "rgba(0,222,255, 0.2)"];

  		var step = 0;

   		function loop() {
        step++;
        ctx.clearRect(0,0,canvas.width,canvas.height);
        for(var j = waves.length - 1; j >= 0; j--) {
            var offset = step + j * Math.PI * 12;
            ctx.fillStyle = waves[j];
            var angle = (step+j*45)*Math.PI/180;
            var deltaHeight = Math.sin(angle) * 30;
            var deltaHeightRight = Math.cos(angle) * 30;
            ctx.beginPath();
            ctx.moveTo(0, 50 + deltaHeight);
            // ctx.lineTo(canvas.width, canvas.height/2 + deltaHeightRight);
            ctx.bezierCurveTo(canvas.width /3 , 50+deltaHeight, canvas.width * 2 / 3, 50+deltaHeightRight, canvas.width, 50+deltaHeightRight);
            ctx.lineTo(canvas.width, canvas.height);
            ctx.lineTo(0, canvas.height);
            ctx.lineTo(0, canvas.height / 2 + deltaHeight);
            ctx.closePath();
            ctx.fill();
        }
        requestAnimFrame(loop);
    }

    loop();



	</script>
{% endblock %}